################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/curso cubit web/bin/Debug/net6.0
/curso cubit web/obj
/.vs/curso cubit web/FileContentIndex
/WcfLibrary/obj/Debug
/WcfLibrary/bin/Debug
